<div class="card single-post">
  <div class="header"><h3>CRIAR POSTs</h3></div>
  <div class="body">


<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Titulo</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="post.title"
            name="title"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Descritivo</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="post.description"
            name="description"
          />
        </div>
  
        <button (click)="savePost()" class="btn btn-success">Criar</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Post criado com sucesso!</h4>
        <button class="btn btn-success" (click)="newPost()">Criar outro</button>
        <button class="btn btn-success" href="post">Ver postagens</button>
      </div>
    </div>
  </div>

  </div>
  </div>
